---
---

@import "{{ site.theme }}";

h1.project-name{
  visibility: hidden;
}
h1.project-name:after{
 content: 'Porto Testers Meetup';
 visibility: visible;
 display: block;

}

.page-header {
  background-image:url("images/full_image.jpg");
  
}
